body {
  width: 100%
  margin: 0 auto;
  
  font-family: arial;
  background-color: rgb(185,179,175);}
#content {overflow: auto;}
#nav, #feature, #footer {
  margin: 1%;}
.column1, column3{
  width: 20%;
  float: center;
  margin: 1%;
}
.column2 {
  width: 80%;
  float: center;
}
}


h1, h2, h3, h4, a  {
  font-weight: normal;
  color: rgb(0,0,0);
  margin: 0px;}

h1, h4 {
  text-align: center;
}

h1 {
  font-family: Georgia, Times, serif;
  font-size: 250%;
  text-shadow: 2px 2px 3px #666666;
  padding-bottom: 10px;
}
h2 {
  font-family: "Gill Sans", Arial, sans-serif;
  font-size: 250%;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
h3 {
  font-family: Georgia, Times, sans-serif;
}

p.intro:first-letter {
  font-size: 200%;
}
.credits {
  font-style: italic;
  text-align: left;
  font-size: 80%;
}
a {
  text-decoration: none;
}
a: hover {
  text-decoration: underline;
}
